Abg
aiofiles==latest
aiohttp==latest
httpx[http2]==latest
requests==latest
alphabet_detector==latest
beautifulsoup4==latest
bleach==latest
cachetools==latest
configparser==latest
dateparser==latest
emoji==latest
feedparser==latest
ffmpeg-python==latest
future==latest
git+https://github.com/python-telegram-bot/ptbcontrib.git
gitpython==latest
markdown2==latest
multicolorcaptcha==latest
pillow==latest
psutil==latest
psycopg2-binary==latest
pyYAML==latest
pyrate-limiter==latest
python-telegram-bot==latest
requests==latest
spamwatch==latest
speedtest-cli==latest
SQLAlchemy==latest
telethon==latest
ujson==latest
pycryptodome==latest
base58==latest
pytimeparse==latest
SibylSystem==latest
TgCrypto==latest
pyrogram==latest
python-arq==latest
python-dotenv==latest
ffmpeg-python==latest
redis==latest
telegraph==latest
motor==latest
pymongo[srv]==latest
odmantic==latest
opencv-python-headless==latest
pykeyboard==latest
wget==latest
wikipedia==latest
bing_image_downloader==latest
lyricsgenius==latest
jikanpy==latest
gtts==latest
search_engine_parser==latest
googletrans==latest
gpytranslate==latest
cloudscraper==latest
carbonnow==latest
pretty_errors==latest
fontTools==latest
